{% extends "base.html" %}

{% block content %}
<table>
<tr>
	<td align="left"><a href="/profile/{{ photo_profile.user.id }}/">{{ photo_profile.nickname }}</a> on day {{ day }}</td>
	<td align="right"><i>{{ photo.views }} views</i></td>
</tr>
<tr>
	<td colspan="2"><img src="/media/beards/web/{{ photo.user.id }}_{{ day }}.jpg" alt="{{ photo_profile.nickname }} on day {{ day }}" border="0" /></td>
</tr>
<tr>
	<td colspan="2" align="center">{{ photo.caption }}</td>
</tr>
</table>
{% endblock content %}