<html>
<head>
<title>Novembeard - the only month that matters!</title>
{% if ga_account %}<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{% ga_account %}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>{% endif %}
</head>
<body>
<br />
<center>
<img src='http://novembeard.kargo.com/images/header.gif' />
<br /><br /><br />
<i>Novembeard starts Tuesday gents - get your razors ready!</i>
</center>
</body>
<html>
